* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    width: 170px;
    gap: 5px;
}

.button_submit {
    height: 20px;
    background: darkorange;
    color: white;
}
